/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 20px;
}
#wrapper{
 width: 1250px;
 background-color: silver;
 margin: 0px auto;
}
#header{
 height: 150px;
 background-color: green;
 margin-bottom: 20px;
}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 margin-right: 20px;
 display: inline-block;
 vertical-align: top;
}
#main_content{
 height: auto;
 width: auto;
 background-color: red;
 display: inline-block;
}
.subcontents{
 height: 200px;
 width: 210px;
 background-color: yellow;
 margin: 0 10px 20px 0;
 display: inline-block;
}
#advertisement{
 height: 120px;
 width: 740px;
 background-color: purple;
 display: block;
}
